@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 400px;
  height: 100%;
  font-family: "Poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  background-color: #fff;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.focus-visible {
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 400px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  transition: visibility 0.3s ease-in-out;
}
.overlay.overlay--active {
  visibility: visible;
}

.header {
  background-color: #000;
}
.header__up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  background-color: #EC6566;
  margin-bottom: 24px;
}
.header__up_text {
  display: inline-block;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
}
.header__down {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 50px;
}
.header__down_img {
  width: 258px;
  height: 28px;
}
.header__burger {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.hero {
  background-color: #000;
  padding: 32px 0;
}
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.hero__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  background: linear-gradient(135deg, rgb(135, 135, 135), rgb(254, 254, 254));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 16px;
}
.hero__subtitle {
  background: linear-gradient(135deg, rgb(135, 135, 135), rgb(254, 254, 254));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 16px;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 199px;
  height: 72px;
  background: #fff;
  margin: 0 auto 16px;
  padding: 4px 10px;
}
.rating__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}
.rating__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 106px;
  padding: 4px 0 0;
}
.rating__num {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.rating__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  width: 149px;
}
.rating__body_text {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
  margin: 0 auto 50px;
}
.price__today {
  display: inline-block;
  font-weight: 700;
  font-size: 43px;
  line-height: 125%;
}
.price__yesterday {
  display: inline-block;
  font-weight: 500;
  font-size: 27px;
  text-align: center;
  position: relative;
}
.price__yesterday::after {
  display: block;
  position: absolute;
  content: "";
  background-image: url(../img/stroke.png);
  width: 60px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}