<section class="description">
  <h2 class="description__title">Apple MacBook Air (M1, 2020) 16 ГБ, 1 ТБ SSD “Space Gray”</h2>
  <div class="description__scrollbar">
    <span class="description__scrollbar_text">35 items left</span>
    <span class="description__scrollbar_line"></span>
  </div>
  <p class="description__text">
    The Handheld Gateway to Your PS5® Games Play Your Game Collection Experience Breathtaking Immersion with
    DualSense® Wireless Controller Features
  </p>
  <p class="description__text">
    Feel the incredible immersion of haptic feedback and adaptive triggers in supported games
  </p>
  <div class="description__count">sale ends in <span class="description__count_timer">17:34:53</span></div>
</section>
