<section class="description">
  <h2 class="description__title">Apple MacBook Air (M1, 2020) 16 ГБ, 1 ТБ SSD “Space Gray”</h2>
  <div class="description__scrollbar">
    <span class="description__scrollbar_text">35 items left</span>
    <span class="description__scrollbar_line"></span>
  </div>
  <p class="description__text">
    The Handheld Gateway to Your PS5® Games Play Your Game Collection Experience Breathtaking Immersion with
    DualSense® Wireless Controller Features
  </p>
  <p class="description__text">
    Feel the incredible immersion of haptic feedback and adaptive triggers in supported games
  </p>
  <div class="description__count">sale ends in <span class="description__count_timer">17:34:53</span></div>
  <div class="description__price price">
    <span class="price__today">£199</span>
    <span class="price__yesterday">£1099</span>
  </div>
  <div class="description__offer">
    <p class="description__offer_text">Special offer only for split payments by</p>
    <p class="description__offer_text">
      <span><img src="./img/afterpay-logo.svg" alt="afterpay" /></span>
      with 10 interest-free installments
    </p>
  </div>
  <button id="myBtn" class="description__btn btn-reset">Buy now pay later</button>
  <p class="description__ship">In stock, ready for ship Delivery in 2-4 days in UK</p>

  <!-- Modal -->
  <div class="modal">

    <div class="modal__content">
      <div class="modal__header">
        <img src="./img/afterpay-logo.svg" alt="logo" class="modal__logo">
        <img src="./img/menu-close.svg" alt="close" class="modal__close">
      </div>
      <h2 class="modal__title">Make easy monthly payments</h2>
      <div class="modal__body">
        <div class="modal__body_up">
          <div class="modal__body_price">£9.99/mo.</div>
          <div class="modal__body_badge">10 months</div>
        </div>
        <div class="modal__items">
          <div class="modal__item">
            <h3 class="modal__item_title">APR</h3>
            <p class="modal__item_text">0%</p>
          </div>
          <div class="modal__item">
            <h3 class="modal__item_title">Interest</h3>
            <p class="modal__item_text">£0</p>
          </div>
          <div class="modal__item">
            <h3 class="modal__item_title">Total</h3>
            <p class="modal__item_text">£89.00</p>
          </div>
        </div>
      </div>
      <span class="modal__line"></span>
      <button class="modal__confirm btn-reset">Confirm to checkout</button>
    </div>

  </div>
</section>
