<section class="shipping">
  <div class="shipping__head">
    <h2 class="shipping__title">Free shipping in United Kingdom</h2>
  </div>
  <ul class="shipping__body">
    <li class="shipping__body_images">
      <img src="./img/dhl.png" alt="dhl" class="shipping__body_logo" />
      <img src="./img/dpd.png" alt="dpd" class="shipping__body_logo" />
      <img src="./img/fedex.png" alt="fedex" class="shipping__body_logo" />
      <img src="./img/ups.png" alt="ups" class="shipping__body_logo" />
    </li>
    <li class="shipping__body_text">
      All purchases are shipped from our warehouse in United Kingdom and are fully insured with a tracking number.
      Tracked delivery between 2-4 days in United Kingdom + Free Delivery.
    </li>
  </ul>
</section>
