<!-- Swiper -->
<section class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="./img/slider-1.jpg" alt="macbook" class="swiper-slide__item" />
    </div>
    <div class="swiper-slide">
      <img src="./img/slider-2.jpg" alt="macbook" class="swiper-slide__item" />
    </div>
    <div class="swiper-slide">
      <img src="./img/slider-3.jpg" alt="macbook" class="swiper-slide__item" />
    </div>
  </div>
  <div class="swiper-scrollbar"></div>
</section>
