.description {
  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 112%;
    color: $gray;
    margin-bottom: 20px;
  }

  &__scrollbar {
    width: 100%;
    margin-bottom: 20px;

    &_text {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: $accent;
      margin-bottom: 6px;
    }

    &_line {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 8px;
      border-radius: 10px;
      background-color: $cararra;

      &::after {
        position: absolute;
        display: block;
        content: '';
        width: 110px;
        height: 8px;
        top: 0;
        left: 0;
        background-color: $accent;
        border-radius: 10px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: $gray;
    margin-bottom: 20px;
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 100%;
    height: 40px;
    background: $light;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $black;
    margin-bottom: 12px;

    &_timer {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: $heliotrope;
      margin-left: 6px;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
    height: 64px;
    color: $gray;
    margin-bottom: 20px;

    .price__today {
      font-weight: 600;
      font-size: 32px;
      line-height: 125%;
    }

    .price__yesterday {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;

      &::after {
        width: 35px;
        height: 8px;
      }

      &::before {
        position: absolute;
        content: '-75%';
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $accent;
        right: -43px;
      }
    }
  }

  &__offer {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: $black;

    &_text {
      margin-bottom: 12px;
    }
  }

  &__btn {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: $black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 345px;
    height: 52px;
    background: $aero;
    margin-bottom: 8px;
  }

  &__ship {
    max-width: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: $hold;
    margin-bottom: 35px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);

  &__logo {
    width: 100px;
    height: 18px;
  }

  &__close {
    cursor: pointer;
  }

  &__content {
    position: relative;
    font-family: Montserrat;
    border: 2px solid #b0fde4;
    border-radius: 12px;
    padding: 20px 16px 16px;
    margin: 0 5px;
    max-width: 400px;
    background-color: $white;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    color: $black;
    margin-bottom: 16px;
  }

  &__body {
    border-radius: 10px;
    max-width: 368px;
    height: 103px;
    padding: 10px;
    margin-bottom: 16px;
    background: $light;

    &_up {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }

    &_price {
      font-weight: 700;
      font-size: 14px;
      color: $black;
    }

    &_badge {
      font-weight: 700;
      font-size: 14px;
      color: $black;
      border-radius: 30px;
      padding: 6px 14px;
      width: 104px;
      height: 29px;
      background: $aero;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 14px;
    color: $emperor;

    &_title {
      font-weight: 700;
      margin-bottom: 4px;
    }

    &_text {
      font-weight: 400;
    }
  }

  &__line {
    display: block;
    border: 1px dashed $black;
    max-width: 368px;
    height: 0;
    margin-bottom: 16px;
  }

  &__confirm {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    color: $black;
    border-radius: 10px;
    padding: 12px 14px;
    width: 100%;
    max-width: 368px;
    height: 48px;
    background: $aero;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
