.header {
  background-color: $black;

  &__up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    background-color: $siena;
    margin-bottom: 24px;

    &_text {
      display: inline-block;
      font-family: 'Inter';
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: $white;
    }
  }

  &__down {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 50px;

    &_img {
      width: 258px;
      height: 28px;
    }
  }

  &__burger {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
