.hero {
  background-color: $black;
  padding: 32px 0;
  margin-bottom: 25px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    background: linear-gradient(135deg, rgb(135, 135, 135), rgb(254, 254, 254));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 16px;
  }

  &__subtitle {
    background: linear-gradient(135deg, rgb(135, 135, 135), rgb(254, 254, 254));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 16px;
  }

  &__img {
    margin-bottom: 38px;
  }
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 199px;
  height: 72px;
  background: $white;
  margin: 0 auto 16px;
  padding: 4px 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
  }

  &__stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 106px;
    padding: 4px 0 0;
  }

  &__num {
    font-weight: 400;
    font-size: 16px;
    color: $black;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    width: 149px;

    &_text {
      font-weight: 400;
      font-size: 16px;
      color: $black;
    }
  }
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: $white;
  margin: 0 auto 50px;

  &__today {
    display: inline-block;
    font-weight: 700;
    font-size: 43px;
    line-height: 125%;
  }

  &__yesterday {
    display: inline-block;
    font-weight: 500;
    font-size: 27px;
    text-align: center;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      content: '';
      background-image: url(../img/stroke.png);
      width: 60px;
      height: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.trust {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  max-width: 345px;
  margin: 0 auto 32px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 4px;
    background-color: $alto;
    padding: 4px 6px;

    &_up {
      margin-bottom: 2px;

      & img {
        display: block;
        width: 74px;
        height: 14px;
      }
    }

    &_down {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 8px;
      color: $black;
      & span {
        font-weight: 700;
      }
    }

    &_text {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 12px;
      height: 14px;
      color: $black;

      & span {
        &:nth-child(1) {
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
        }

        &:nth-child(2) {
          font-weight: 600;
          line-height: 167%;
        }
      }

      &:nth-child(2) {
        & span {
          font-weight: 700;
        }
      }
    }
  }
}
