// * base
$font-family: 'Poppins', sans-serif;
$content-width: 370px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

// = colors
$white: #fff;
$light: #f5f5f6;
$cararra: #ebeae8;
$silver: #c1c1c1;
$alto: #d5d5d5;
$aero: #b0fde4;
$black: #000;
$gray: #1f1f1f;
$cod: #1c1c1c;
$emperor: #545454;
$dove: #6b6b6b;
$hold: #717271;
$list-title: #ffd1a0;
$siena: #ec6566;
$accent: #ff4053;
$heliotrope: #b15fff;
